<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />

    {% block title %}
    <title>JaCo - Code everywhere!</title>
    {% endblock title %}
  </head>

  <body>
    <nav class="navbar navbar-expand navbar-light bg-light">
      <a class="navbar-brand" href="/">Jala Compiler</a>

      <div class="collapse navbar-collapse" id="navbar">
        <ul class="navbar-nav ml-auto">
          {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="/api/v1/project/all">Projects</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/profile">Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/profile/edit">Edit Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/change-password">Change Password</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/logout">Logout</a>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link" href="/login">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/register">Register</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </nav>
    <br />

    {% block content %} {% endblock content %}

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
      integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
      crossorigin="anonymous"
    ></script>
    {% load static %}
    <script
      src="{% static 'js/ace.js' %}"
      type="text/javascript"
      charset="utf-8"
    ></script>
    <script
      src="{% static 'js/editor.js' %}"
      type="text/javascript"
      charset="utf-8"
    ></script>
    <script
      src="{% static 'js/jquery-1.4.4.min.js'%}"
      type="text/javascript"
    ></script>
    <script
      src="{% static 'js/jquery.ztree.core.js' %}"
      type="text/javascript"
      charset="utf-8"
    ></script>
    <script
      src="{% static 'js/jquery.ztree.excheck.js' %}"
      type="text/javascript"
      charset="utf-8"
    ></script>
    <script
      src="{% static 'js/jquery.ztree.exedit.js' %}"
      type="text/javascript"
      charset="utf-8"
    ></script>
    <script
      src="{% static 'js/main.js' %}"
      type="text/javascript"
      charset="utf-8"
    ></script>
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/editor.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'css/metroStyle/metroStyle.css' %}"
      type="text/css"
    />
  </body>
</html>
